
.aboutAuthorContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header {
    display: flex;
    justify-content: center;
}

.smallHeader {
    line-height: 2;
}